# Reading all the input files from data folder

In [1]:
import pandas as pd
from ydata_profiling import ProfileReport
import numpy as np
import staircase as sc
import os
import matplotlib.pyplot as plt

In [2]:
os.getcwd()

'/Volumes/GoogleDrive-114228277145008248701/My Drive/Sandhya_Project_01082023/Code'

In [3]:
data_foler = '../Data'

## Reading System Sell Price (SSP), System Buy Price (SBP) and Net Imbalance Volume (NIV) Data

In [4]:
sspsbpniv_df = pd.read_csv(data_foler +'/sspsbpniv.csv')

In [5]:
sspsbpniv_df.shape

(79966, 5)

In [6]:
sspsbpniv_df.columns

Index(['Settlement Date', 'Settlement Period', 'System Sell Price(GBP/MWh)',
       'System Buy Price(GBP/MWh)', 'Net Imbalance Volume(MWh)'],
      dtype='object')

In [7]:
sspsbpniv_df.dtypes

Settlement Date                object
Settlement Period               int64
System Sell Price(GBP/MWh)    float64
System Buy Price(GBP/MWh)     float64
Net Imbalance Volume(MWh)     float64
dtype: object

In [8]:
sspsbpniv_df.head()

,Settlement Date,Settlement Period,System Sell Price(GBP/MWh),System Buy Price(GBP/MWh),Net Imbalance Volume(MWh)
0,01/01/2019,1,15.0,15.0,-1058.307
1,01/01/2019,2,15.0,15.0,-664.288
2,01/01/2019,3,16.0,16.0,-1033.909
3,01/01/2019,4,16.0,16.0,-1319.343
4,01/01/2019,5,16.0,16.0,-1180.858

In [9]:
sspsbpniv_df['Settlement Date'] = pd.to_datetime(sspsbpniv_df['Settlement Date'], infer_datetime_format=True, dayfirst=True)
sspsbpniv_df.dtypes

Settlement Date               datetime64[ns]
Settlement Period                      int64
System Sell Price(GBP/MWh)           float64
System Buy Price(GBP/MWh)            float64
Net Imbalance Volume(MWh)            float64
dtype: object

In [10]:
sspsbpniv_df.set_index(['Settlement Date','Settlement Period'], inplace=True)
sspsbpniv_df

                                   System Sell Price(GBP/MWh)  \
Settlement Date Settlement Period
2019-01-01      1                                    15.00000
                2                                    15.00000
                3                                    16.00000
                4                                    16.00000
                5                                    16.00000
...                                                       ...
2023-07-24      44                                  107.91019
                45                                  123.50000
                46                                  123.00000
                47                                  110.00000
                48                                   91.16000

                                   System Buy Price(GBP/MWh)  \
Settlement Date Settlement Period
2019-01-01      1                                   15.00000
                2                                   15.00000
                3                                   16.00000
                4                                   16.00000
                5                                   16.00000
...                                                      ...
2023-07-24      44                                 107.91019
                45                                 123.50000
                46                                 123.00000
                47                                 110.00000
                48                                  91.16000

                                   Net Imbalance Volume(MWh)
Settlement Date Settlement Period
2019-01-01      1                                  -1058.307
                2                                   -664.288
                3                                  -1033.909
                4                                  -1319.343
                5                                  -1180.858
...                                                      ...
2023-07-24      44                                   398.547
                45                                   284.892
                46                                   562.575
                47                                   401.041
                48                                    63.548

[79966 rows x 3 columns]

In [11]:
sspsbpniv_df = sspsbpniv_df[~sspsbpniv_df.index.duplicated(keep='first')]
sspsbpniv_df.shape

(79966, 3)

In [12]:
profile = ProfileReport(sspsbpniv_df,
                        title="System Sell Price (SSP), System Buy Price (SBP) and Net Imbalance Volume (NIV) Data",
        dataset={
        "description": "This profiling report was generated for Price prediction project",
        "copyright_holder": "Sandhya",
        "copyright_year": "2023",
    },)

In [13]:
profile.to_file("../Output/sspsbpniv_Analysis.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

## Reading National Grid System Demand

In [14]:
demand_2019_df = pd.read_csv(data_foler +'/demanddata_2019.csv')
demand_2020_df = pd.read_csv(data_foler +'/demanddata_2020.csv')
demand_2021_df = pd.read_csv(data_foler +'/demanddata_2021.csv')
demand_2022_df = pd.read_csv(data_foler +'/demanddata_2022.csv')
demand_2023_df = pd.read_csv(data_foler +'/demanddata_2023.csv')

In [15]:
print(demand_2019_df.shape, demand_2020_df.shape, demand_2021_df.shape, demand_2022_df.shape, demand_2023_df.shape)
print(demand_2019_df.columns, demand_2020_df.columns, demand_2021_df.columns, demand_2022_df.columns, demand_2023_df.columns)
print(demand_2019_df.dtypes, demand_2020_df.dtypes, demand_2021_df.dtypes, demand_2022_df.dtypes, demand_2023_df.dtypes)

(17520, 19) (17568, 19) (17520, 19) (17520, 19) (9214, 19)
Index(['SETTLEMENT_DATE', 'SETTLEMENT_PERIOD', 'ND', 'TSD',
       'ENGLAND_WALES_DEMAND', 'EMBEDDED_WIND_GENERATION',
       'EMBEDDED_WIND_CAPACITY', 'EMBEDDED_SOLAR_GENERATION',
       'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR', 'PUMP_STORAGE_PUMPING',
       'IFA_FLOW', 'IFA2_FLOW', 'BRITNED_FLOW', 'MOYLE_FLOW', 'EAST_WEST_FLOW',
       'NEMO_FLOW', 'NSL_FLOW', 'ELECLINK_FLOW'],
      dtype='object') Index(['SETTLEMENT_DATE', 'SETTLEMENT_PERIOD', 'ND', 'TSD',
       'ENGLAND_WALES_DEMAND', 'EMBEDDED_WIND_GENERATION',
       'EMBEDDED_WIND_CAPACITY', 'EMBEDDED_SOLAR_GENERATION',
       'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR', 'PUMP_STORAGE_PUMPING',
       'IFA_FLOW', 'IFA2_FLOW', 'BRITNED_FLOW', 'MOYLE_FLOW', 'EAST_WEST_FLOW',
       'NEMO_FLOW', 'NSL_FLOW', 'ELECLINK_FLOW'],
      dtype='object') Index(['SETTLEMENT_DATE', 'SETTLEMENT_PERIOD', 'ND', 'TSD',
       'ENGLAND_WALES_DEMAND', 'EMBEDDED_WIND_GENERATION',
       'EMBEDDED_WIND_CAPACITY', 'EMBEDDED_SOLAR_GENERATION',
       'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR', 'PUMP_STORAGE_PUMPING',
       'IFA_FLOW', 'IFA2_FLOW', 'BRITNED_FLOW', 'MOYLE_FLOW', 'EAST_WEST_FLOW',
       'NEMO_FLOW', 'NSL_FLOW', 'ELECLINK_FLOW'],
      dtype='object') Index(['SETTLEMENT_DATE', 'SETTLEMENT_PERIOD', 'ND', 'TSD',
       'ENGLAND_WALES_DEMAND', 'EMBEDDED_WIND_GENERATION',
       'EMBEDDED_WIND_CAPACITY', 'EMBEDDED_SOLAR_GENERATION',
       'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR', 'PUMP_STORAGE_PUMPING',
       'IFA_FLOW', 'IFA2_FLOW', 'BRITNED_FLOW', 'MOYLE_FLOW', 'EAST_WEST_FLOW',
       'NEMO_FLOW', 'NSL_FLOW', 'ELECLINK_FLOW'],
      dtype='object') Index(['SETTLEMENT_DATE', 'SETTLEMENT_PERIOD', 'ND', 'TSD',
       'ENGLAND_WALES_DEMAND', 'EMBEDDED_WIND_GENERATION',
       'EMBEDDED_WIND_CAPACITY', 'EMBEDDED_SOLAR_GENERATION',
       'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR', 'PUMP_STORAGE_PUMPING',
       'IFA_FLOW', 'IFA2_FLOW', 'BRITNED_FLOW', 'MOYLE_FLOW', 'EAST_WEST_FLOW',
       'NEMO_FLOW', 'NSL_FLOW', 'ELECLINK_FLOW'],
      dtype='object')
SETTLEMENT_DATE              object
SETTLEMENT_PERIOD             int64
ND                            int64
TSD                           int64
ENGLAND_WALES_DEMAND          int64
EMBEDDED_WIND_GENERATION      int64
EMBEDDED_WIND_CAPACITY        int64
EMBEDDED_SOLAR_GENERATION     int64
EMBEDDED_SOLAR_CAPACITY       int64
NON_BM_STOR                   int64
PUMP_STORAGE_PUMPING          int64
IFA_FLOW                      int64
IFA2_FLOW                     int64
BRITNED_FLOW                  int64
MOYLE_FLOW                    int64
EAST_WEST_FLOW                int64
NEMO_FLOW                     int64
NSL_FLOW                      int64
ELECLINK_FLOW                 int64
dtype: object SETTLEMENT_DATE              object
SETTLEMENT_PERIOD             int64
ND                            int64
TSD                           int64
ENGLAND_WALES_DEMAND          int64
EMBEDDED_WIND_GENERATION      int64
EMBEDDED_WIND_CAPACITY        int64
EMBEDDED_SOLAR_GENERATION     int64
EMBEDDED_SOLAR_CAPACITY       int64
NON_BM_STOR                   int64
PUMP_STORAGE_PUMPING          int64
IFA_FLOW                      int64
IFA2_FLOW                     int64
BRITNED_FLOW                  int64
MOYLE_FLOW                    int64
EAST_WEST_FLOW                int64
NEMO_FLOW                     int64
NSL_FLOW                      int64
ELECLINK_FLOW                 int64
dtype: object SETTLEMENT_DATE              object
SETTLEMENT_PERIOD             int64
ND                            int64
TSD                           int64
ENGLAND_WALES_DEMAND          int64
EMBEDDED_WIND_GENERATION      int64
EMBEDDED_WIND_CAPACITY        int64
EMBEDDED_SOLAR_GENERATION     int64
EMBEDDED_SOLAR_CAPACITY       int64
NON_BM_STOR                   int64
PUMP_STORAGE_PUMPING          int64
IFA_FLOW                      int64
IFA2_FLOW                     int64
BRITNED_FLOW                  int64
MOYLE_FLOW                    int64
EAST_WEST_FLOW                int64
NEMO_FLOW                     int64
NSL_FLOW                      int64
ELECLINK_FLOW                 int64
dtype: object SETTLEMENT_DATE              object
SETTLEMENT_PERIOD             int64
ND                            int64
TSD                           int64
ENGLAND_WALES_DEMAND          int64
EMBEDDED_WIND_GENERATION      int64
EMBEDDED_WIND_CAPACITY        int64
EMBEDDED_SOLAR_GENERATION     int64
EMBEDDED_SOLAR_CAPACITY       int64
NON_BM_STOR                   int64
PUMP_STORAGE_PUMPING          int64
IFA_FLOW                      int64
IFA2_FLOW                     int64
BRITNED_FLOW                  int64
MOYLE_FLOW                    int64
EAST_WEST_FLOW                int64
NEMO_FLOW                     int64
NSL_FLOW                      int64
ELECLINK_FLOW                 int64
dtype: object SETTLEMENT_DATE              object
SETTLEMENT_PERIOD             int64
ND                            int64
TSD                           int64
ENGLAND_WALES_DEMAND          int64
EMBEDDED_WIND_GENERATION      int64
EMBEDDED_WIND_CAPACITY        int64
EMBEDDED_SOLAR_GENERATION     int64
EMBEDDED_SOLAR_CAPACITY       int64
NON_BM_STOR                   int64
PUMP_STORAGE_PUMPING          int64
IFA_FLOW                      int64
IFA2_FLOW                     int64
BRITNED_FLOW                  int64
MOYLE_FLOW                    int64
EAST_WEST_FLOW                int64
NEMO_FLOW                     int64
NSL_FLOW                      int64
ELECLINK_FLOW                 int64
dtype: object

In [16]:
demand_df= pd.concat([demand_2019_df,demand_2020_df,demand_2021_df,demand_2022_df,demand_2023_df], ignore_index=True)

In [17]:
print(demand_df.shape)
print(demand_df.columns)
print(demand_df.dtypes)

(79342, 19)
Index(['SETTLEMENT_DATE', 'SETTLEMENT_PERIOD', 'ND', 'TSD',
       'ENGLAND_WALES_DEMAND', 'EMBEDDED_WIND_GENERATION',
       'EMBEDDED_WIND_CAPACITY', 'EMBEDDED_SOLAR_GENERATION',
       'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR', 'PUMP_STORAGE_PUMPING',
       'IFA_FLOW', 'IFA2_FLOW', 'BRITNED_FLOW', 'MOYLE_FLOW', 'EAST_WEST_FLOW',
       'NEMO_FLOW', 'NSL_FLOW', 'ELECLINK_FLOW'],
      dtype='object')
SETTLEMENT_DATE              object
SETTLEMENT_PERIOD             int64
ND                            int64
TSD                           int64
ENGLAND_WALES_DEMAND          int64
EMBEDDED_WIND_GENERATION      int64
EMBEDDED_WIND_CAPACITY        int64
EMBEDDED_SOLAR_GENERATION     int64
EMBEDDED_SOLAR_CAPACITY       int64
NON_BM_STOR                   int64
PUMP_STORAGE_PUMPING          int64
IFA_FLOW                      int64
IFA2_FLOW                     int64
BRITNED_FLOW                  int64
MOYLE_FLOW                    int64
EAST_WEST_FLOW                int64
NEMO_FLOW                     int64
NSL_FLOW                      int64
ELECLINK_FLOW                 int64
dtype: object

In [18]:
demand_df.head()

,SETTLEMENT_DATE,SETTLEMENT_PERIOD,ND,TSD,ENGLAND_WALES_DEMAND,EMBEDDED_WIND_GENERATION,EMBEDDED_WIND_CAPACITY,EMBEDDED_SOLAR_GENERATION,EMBEDDED_SOLAR_CAPACITY,NON_BM_STOR,PUMP_STORAGE_PUMPING,IFA_FLOW,IFA2_FLOW,BRITNED_FLOW,MOYLE_FLOW,EAST_WEST_FLOW,NEMO_FLOW,NSL_FLOW,ELECLINK_FLOW
0,01-JAN-2019,1,23808,25291,22393,2548,5918,0,13052,0,178,1553,0,176,-455,-250,0,0,0
1,01-JAN-2019,2,24402,25720,22962,2475,5918,0,13052,0,27,1554,0,194,-455,-236,0,0,0
2,01-JAN-2019,3,24147,25495,22689,2396,5918,0,13052,0,27,1505,0,581,-410,-311,0,0,0
3,01-JAN-2019,4,23197,24590,21849,2317,5918,0,13052,0,28,1503,0,600,-450,-315,0,0,0
4,01-JAN-2019,5,22316,24346,20979,2236,5918,0,13052,0,525,1503,0,675,-442,-463,0,0,0

In [19]:
demand_df['SETTLEMENT_DATE'] = pd.to_datetime(demand_df['SETTLEMENT_DATE'], infer_datetime_format=True, dayfirst=True)
demand_df.rename(columns={'SETTLEMENT_DATE':'Settlement Date','SETTLEMENT_PERIOD':'Settlement Period'}, inplace=True)
demand_df.dtypes

Settlement Date              datetime64[ns]
Settlement Period                     int64
ND                                    int64
TSD                                   int64
ENGLAND_WALES_DEMAND                  int64
EMBEDDED_WIND_GENERATION              int64
EMBEDDED_WIND_CAPACITY                int64
EMBEDDED_SOLAR_GENERATION             int64
EMBEDDED_SOLAR_CAPACITY               int64
NON_BM_STOR                           int64
PUMP_STORAGE_PUMPING                  int64
IFA_FLOW                              int64
IFA2_FLOW                             int64
BRITNED_FLOW                          int64
MOYLE_FLOW                            int64
EAST_WEST_FLOW                        int64
NEMO_FLOW                             int64
NSL_FLOW                              int64
ELECLINK_FLOW                         int64
dtype: object

In [20]:
demand_df.set_index(['Settlement Date','Settlement Period'], inplace=True)
demand_df

                                      ND    TSD  ENGLAND_WALES_DEMAND  \
Settlement Date Settlement Period
2019-01-01      1                  23808  25291                 22393
                2                  24402  25720                 22962
                3                  24147  25495                 22689
                4                  23197  24590                 21849
                5                  22316  24346                 20979
...                                  ...    ...                   ...
2023-07-11      44                 25089  29099                 23287
                45                 24459  28630                 22714
                46                 23479  27800                 21756
                47                 21939  25883                 20320
                48                 20876  24762                 19383

                                   EMBEDDED_WIND_GENERATION  \
Settlement Date Settlement Period
2019-01-01      1                                      2548
                2                                      2475
                3                                      2396
                4                                      2317
                5                                      2236
...                                                     ...
2023-07-11      44                                     1476
                45                                     1483
                46                                     1490
                47                                     1502
                48                                     1514

                                   EMBEDDED_WIND_CAPACITY  \
Settlement Date Settlement Period
2019-01-01      1                                    5918
                2                                    5918
                3                                    5918
                4                                    5918
                5                                    5918
...                                                   ...
2023-07-11      44                                   6538
                45                                   6538
                46                                   6538
                47                                   6538
                48                                   6538

                                   EMBEDDED_SOLAR_GENERATION  \
Settlement Date Settlement Period
2019-01-01      1                                          0
                2                                          0
                3                                          0
                4                                          0
                5                                          0
...                                                      ...
2023-07-11      44                                         0
                45                                         0
                46                                         0
                47                                         0
                48                                         0

                                   EMBEDDED_SOLAR_CAPACITY  NON_BM_STOR  \
Settlement Date Settlement Period
2019-01-01      1                                    13052            0
                2                                    13052            0
                3                                    13052            0
                4                                    13052            0
                5                                    13052            0
...                                                    ...          ...
2023-07-11      44                                   14285            0
                45                                   14285            0
                46                                   14285            0
                47                                   14285            0
                48                                   14285            0

                                   PUMP_STORAGE_PUMPING  IFA_FLOW  IFA2_FLOW  \
Settlement Date Settlement Period
2019-01-01      1                                   178      1553          0
                2                                    27      1554          0
                3                                    27      1505          0
                4                                    28      1503          0
                5                                   525      1503          0
...                                                 ...       ...        ...
2023-07-11      44                                    5      -659       -751
                45                                    4      -750       -995
                46                                    4      -763      -1011
                47                                    4     -1111       -507
                48                                    5     -1144       -464

                                   BRITNED_FLOW  MOYLE_FLOW  EAST_WEST_FLOW  \
Settlement Date Settlement Period
2019-01-01      1                           176        -455            -250
                2                           194        -455            -236
                3                           581        -410            -311
                4                           600        -450            -315
                5                           675        -442            -463
...                                         ...         ...             ...
2023-07-11      44                         -791        -176               1
                45                         -799        -202              71
                46                         -799        -338               8
                47                         -372        -447             -56
                48                         -338        -452             -31

                                   NEMO_FLOW  NSL_FLOW  ELECLINK_FLOW
Settlement Date Settlement Period
2019-01-01      1                          0         0              0
                2                          0         0              0
                3                          0         0              0
                4                          0         0              0
                5                          0         0              0
...                                      ...       ...            ...
2023-07-11      44                      -412      1399           -716
                45                      -370      1399           -551
                46                      -367      1399           -539
                47                      -260      1399           -687
                48                      -252      1377           -700

[79342 rows x 17 columns]

In [21]:
demand_df = demand_df[~demand_df.index.duplicated(keep='first')]
demand_df.shape

(79342, 17)

In [22]:
profile = ProfileReport(demand_df,
                        title="Electricity Demand Data",
        dataset={
        "description": "This profiling report was generated for Electricity Price prediction project",
        "copyright_holder": "Sandhya",
        "copyright_year": "2023",
    },)

In [23]:
profile.to_file("../Output/Demand_Analysis.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

## Reading Rolling Demand Data

In [24]:
rolling_demand_df = pd.read_csv(data_foler +'/RollingSystemDemand.csv')
print(rolling_demand_df.shape)
print(rolling_demand_df.columns)
print(rolling_demand_df.dtypes)

(294630, 3)
Index(['RecordType', 'StartTime', 'Demand'], dtype='object')
RecordType    object
StartTime     object
Demand         int64
dtype: object

In [25]:
rolling_demand_df.head()

  RecordType            StartTime  Demand
0         VD  10/09/2020 00:20:00   22380
1         VD  10/09/2020 00:35:00   22600
2         VD  10/09/2020 00:40:00   22614
3         VD  10/09/2020 01:55:00   21917
4         VD  10/09/2020 02:00:00   21809

In [26]:
rolling_demand_df['StartTime'] = pd.to_datetime(rolling_demand_df['StartTime'], infer_datetime_format=True, dayfirst=True)
rolling_demand_df.rename(columns={'StartTime':'date_time', 'Demand':'Rolling_Demand'}, inplace=True)
rolling_demand_df.drop(columns=['RecordType'], inplace=True)
rolling_demand_df.dtypes

date_time         datetime64[ns]
Rolling_Demand             int64
dtype: object

In [27]:
rolling_demand_df.set_index(['date_time'], inplace=True)
rolling_demand_df

                     Rolling_Demand
date_time
2020-09-10 00:20:00           22380
2020-09-10 00:35:00           22600
2020-09-10 00:40:00           22614
2020-09-10 01:55:00           21917
2020-09-10 02:00:00           21809
...                             ...
2023-01-08 10:50:00           26220
2023-01-08 10:55:00           26325
2023-01-08 11:00:00           26657
2023-01-08 11:05:00           26553
2023-01-08 11:10:00           26453

[294630 rows x 1 columns]

In [28]:
rolling_demand_df = rolling_demand_df[~rolling_demand_df.index.duplicated(keep='first')]
rolling_demand_df.shape

(294630, 1)

In [29]:
profile = ProfileReport(rolling_demand_df,
                        title="Rolling Demand Data",
        dataset={
        "description": "This profiling report was generated for Electricity Price prediction project",
        "copyright_holder": "Sandhya",
        "copyright_year": "2023",
    },)

In [30]:
profile.to_file("../Output/Rolling_Demand_Analysis.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

## Reading InterconnectorFlows Data

In [31]:
interconnectorflow_df = pd.read_csv(data_foler +'/InterconnectorFlows.csv')

In [32]:
print(interconnectorflow_df.shape)
print(interconnectorflow_df.columns)
print(interconnectorflow_df.dtypes)

(5890, 11)
Index(['Unnamed: 0', 'Settlement_Date', 'SP', 'INTFR(MW)', 'INTIRL(MW)',
       'INTNED(MW)', 'INTEW(MW)', 'INTNEM(MW)', 'INTELEC(MW)', 'INTIFA2(MW)',
       'INTNSL(MW)'],
      dtype='object')
Unnamed: 0          object
Settlement_Date      int64
SP                   int64
INTFR(MW)            int64
INTIRL(MW)           int64
INTNED(MW)           int64
INTEW(MW)            int64
INTNEM(MW)         float64
INTELEC(MW)        float64
INTIFA2(MW)        float64
INTNSL(MW)         float64
dtype: object

In [33]:
interconnectorflow_df.head()

,Unnamed: 0,Settlement_Date,SP,INTFR(MW),INTIRL(MW),INTNED(MW),INTEW(MW),INTNEM(MW),INTELEC(MW),INTIFA2(MW),INTNSL(MW)
0,INTOUTHH,20190101,1,1552,-456,182,-246,NaN,NaN,NaN,NaN
1,INTOUTHH,20190101,2,1554,-456,196,-240,NaN,NaN,NaN,NaN
2,INTOUTHH,20190101,3,1504,-410,588,-312,NaN,NaN,NaN,NaN
3,INTOUTHH,20190101,4,1504,-452,600,-318,NaN,NaN,NaN,NaN
4,INTOUTHH,20190101,5,1504,-442,678,-468,NaN,NaN,NaN,NaN

In [34]:
interconnectorflow_df['Settlement_Date'] = pd.to_datetime(interconnectorflow_df['Settlement_Date'], format='%Y%m%d')
interconnectorflow_df.rename(columns={'Settlement_Date':'Settlement Date','SP':'Settlement Period'}, inplace=True)
interconnectorflow_df.dtypes

Unnamed: 0                   object
Settlement Date      datetime64[ns]
Settlement Period             int64
INTFR(MW)                     int64
INTIRL(MW)                    int64
INTNED(MW)                    int64
INTEW(MW)                     int64
INTNEM(MW)                  float64
INTELEC(MW)                 float64
INTIFA2(MW)                 float64
INTNSL(MW)                  float64
dtype: object

In [35]:
interconnectorflow_df.head()

,Unnamed: 0,Settlement Date,Settlement Period,INTFR(MW),INTIRL(MW),INTNED(MW),INTEW(MW),INTNEM(MW),INTELEC(MW),INTIFA2(MW),INTNSL(MW)
0,INTOUTHH,2019-01-01,1,1552,-456,182,-246,NaN,NaN,NaN,NaN
1,INTOUTHH,2019-01-01,2,1554,-456,196,-240,NaN,NaN,NaN,NaN
2,INTOUTHH,2019-01-01,3,1504,-410,588,-312,NaN,NaN,NaN,NaN
3,INTOUTHH,2019-01-01,4,1504,-452,600,-318,NaN,NaN,NaN,NaN
4,INTOUTHH,2019-01-01,5,1504,-442,678,-468,NaN,NaN,NaN,NaN

In [36]:
interconnectorflow_df.set_index(['Settlement Date','Settlement Period'], inplace=True)
interconnectorflow_df

                                  Unnamed: 0  INTFR(MW)  INTIRL(MW)  \
Settlement Date Settlement Period
2019-01-01      1                   INTOUTHH       1552        -456
                2                   INTOUTHH       1554        -456
                3                   INTOUTHH       1504        -410
                4                   INTOUTHH       1504        -452
                5                   INTOUTHH       1504        -442
...                                      ...        ...         ...
2019-05-03      32                  INTOUTHH       1488         242
                33                  INTOUTHH       1488         222
                34                  INTOUTHH       1488         202
                35                  INTOUTHH       1488         242
                36                  INTOUTHH       1488         242

                                   INTNED(MW)  INTEW(MW)  INTNEM(MW)  \
Settlement Date Settlement Period
2019-01-01      1                         182       -246         NaN
                2                         196       -240         NaN
                3                         588       -312         NaN
                4                         600       -318         NaN
                5                         678       -468         NaN
...                                       ...        ...         ...
2019-05-03      32                       1000         72       926.0
                33                       1000        224       926.0
                34                       1000        296       926.0
                35                       1000        320       998.0
                36                       1000        312      1000.0

                                   INTELEC(MW)  INTIFA2(MW)  INTNSL(MW)
Settlement Date Settlement Period
2019-01-01      1                          NaN          NaN         NaN
                2                          NaN          NaN         NaN
                3                          NaN          NaN         NaN
                4                          NaN          NaN         NaN
                5                          NaN          NaN         NaN
...                                        ...          ...         ...
2019-05-03      32                         NaN          NaN         NaN
                33                         NaN          NaN         NaN
                34                         NaN          NaN         NaN
                35                         NaN          NaN         NaN
                36                         NaN          NaN         NaN

[5890 rows x 9 columns]

In [37]:
interconnectorflow_df = interconnectorflow_df[~interconnectorflow_df.index.duplicated(keep='first')]
interconnectorflow_df.shape

(5890, 9)

In [38]:
profile = ProfileReport(interconnectorflow_df,
                        title="Inter Connector Flow Data",
        dataset={
        "description": "This profiling report was generated for Electricity Price prediction project",
        "copyright_holder": "Sandhya",
        "copyright_year": "2023",
    },)

In [39]:
profile.to_file("../Output/Interconnectorflow_Analysis.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

## Reading Remit Data

In [40]:
remit_df = pd.read_csv(data_foler +'/Remit_data.csv')

In [41]:
print(remit_df.shape)
print(remit_df.columns)
print(remit_df.dtypes)

(5000, 12)
Index(['Participant ID', 'Published (GMT)', 'Message Type', 'Message ID',
       'Latest Revision', 'Unavailability Type', 'Asset ID', 'Fuel Type',
       'Available Capacity (MW)', 'Event Start (GMT)', 'Event End (GMT)',
       'Event Status'],
      dtype='object')
Participant ID              object
Published (GMT)             object
Message Type                object
Message ID                  object
Latest Revision             object
Unavailability Type         object
Asset ID                    object
Fuel Type                   object
Available Capacity (MW)    float64
Event Start (GMT)           object
Event End (GMT)             object
Event Status                object
dtype: object

In [42]:
remit_df.head()

,Participant ID,Published (GMT),Message Type,Message ID,Latest Revision,Unavailability Type,Asset ID,Fuel Type,Available Capacity (MW),Event Start (GMT),Event End (GMT),Event Status
0,WESTBURB,2023-08-01 12:41:44Z,Unavailabilities of Electricity Facilities,48X000000000045Z-NGET-RMT-00130171,Y,Unplanned,T_WBURB-2,Fossil Gas,220.0,2023-08-01 13:30:00Z,2023-08-01 14:00:00Z,Active
1,WESTBURB,2023-08-01 12:40:45Z,Unavailabilities of Electricity Facilities,48X000000000045Z-NGET-RMT-00130170,Y,Unplanned,T_WBURB-2,Fossil Gas,70.0,2023-08-01 12:30:00Z,2023-08-01 13:30:00Z,Active
2,WESTBURB,2023-08-01 12:39:35Z,Unavailabilities of Electricity Facilities,48X000000000045Z-NGET-RMT-00130169,Y,Unplanned,T_WBURB-2,Fossil Gas,410.0,2023-08-01 14:00:00Z,2023-08-02 11:00:00Z,Active
3,WESTBURB,2023-08-01 12:38:26Z,Unavailabilities of Electricity Facilities,48X000000000045Z-NGET-RMT-00130166,Y,Unplanned,T_WBURB-2,Fossil Gas,410.0,2023-08-01 07:00:00Z,2023-08-01 12:30:00Z,Active
4,INNOGY01,2023-08-01 12:19:37Z,Unavailabilities of Electricity Facilities,11XINNOGY------2-NGET-RMT-00097195,Y,Unplanned,T_DIDCB6,Fossil Gas,313.0,2023-08-01 05:44:45Z,2023-08-02 05:47:18Z,Active

In [43]:
remit_df['Published (GMT)'] = pd.to_datetime(remit_df['Published (GMT)'], infer_datetime_format=True, dayfirst=False)
remit_df['Event Start (GMT)'] = pd.to_datetime(remit_df['Event Start (GMT)'], infer_datetime_format=True, dayfirst=False)
remit_df['Event End (GMT)'] = pd.to_datetime(remit_df['Event End (GMT)'], infer_datetime_format=True, dayfirst=False)

remit_df.dtypes

Participant ID                          object
Published (GMT)            datetime64[ns, UTC]
Message Type                            object
Message ID                              object
Latest Revision                         object
Unavailability Type                     object
Asset ID                                object
Fuel Type                               object
Available Capacity (MW)                float64
Event Start (GMT)          datetime64[ns, UTC]
Event End (GMT)            datetime64[ns, UTC]
Event Status                            object
dtype: object

In [44]:
remit_df.head()

,Participant ID,Published (GMT),Message Type,Message ID,Latest Revision,Unavailability Type,Asset ID,Fuel Type,Available Capacity (MW),Event Start (GMT),Event End (GMT),Event Status
0,WESTBURB,2023-08-01 12:41:44+00:00,Unavailabilities of Electricity Facilities,48X000000000045Z-NGET-RMT-00130171,Y,Unplanned,T_WBURB-2,Fossil Gas,220.0,2023-08-01 13:30:00+00:00,2023-08-01 14:00:00+00:00,Active
1,WESTBURB,2023-08-01 12:40:45+00:00,Unavailabilities of Electricity Facilities,48X000000000045Z-NGET-RMT-00130170,Y,Unplanned,T_WBURB-2,Fossil Gas,70.0,2023-08-01 12:30:00+00:00,2023-08-01 13:30:00+00:00,Active
2,WESTBURB,2023-08-01 12:39:35+00:00,Unavailabilities of Electricity Facilities,48X000000000045Z-NGET-RMT-00130169,Y,Unplanned,T_WBURB-2,Fossil Gas,410.0,2023-08-01 14:00:00+00:00,2023-08-02 11:00:00+00:00,Active
3,WESTBURB,2023-08-01 12:38:26+00:00,Unavailabilities of Electricity Facilities,48X000000000045Z-NGET-RMT-00130166,Y,Unplanned,T_WBURB-2,Fossil Gas,410.0,2023-08-01 07:00:00+00:00,2023-08-01 12:30:00+00:00,Active
4,INNOGY01,2023-08-01 12:19:37+00:00,Unavailabilities of Electricity Facilities,11XINNOGY------2-NGET-RMT-00097195,Y,Unplanned,T_DIDCB6,Fossil Gas,313.0,2023-08-01 05:44:45+00:00,2023-08-02 05:47:18+00:00,Active

In [45]:
profile = ProfileReport(remit_df, title="Remit Data",
        dataset={
        "description": "This profiling report was generated for Electricity Price prediction project",
        "copyright_holder": "Sandhya",
        "copyright_year": "2023",
    },)

In [46]:
profile.to_file("../Output/Remit_Analysis.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

## Read Weather Data

In [47]:
england_weather_df = pd.read_csv(data_foler +'/England_Weather_data.csv')

In [48]:
print(england_weather_df.shape)
print(england_weather_df.columns)
print(england_weather_df.dtypes)

(38304, 6)
Index(['date_time', 'temperature_2m(°C)', 'relativehumidity_2m(%)',
       'dewpoint_2m(°C)', 'precipitation(mm)', 'windspeed_100m(km/h)'],
      dtype='object')
date_time                  object
temperature_2m(°C)        float64
relativehumidity_2m(%)      int64
dewpoint_2m(°C)           float64
precipitation(mm)         float64
windspeed_100m(km/h)      float64
dtype: object

In [49]:
england_weather_df.head()

,date_time,temperature_2m(°C),relativehumidity_2m(%),dewpoint_2m(°C),precipitation(mm),windspeed_100m(km/h)
0,1/1/2019 1:00:00,5.0,93,4.0,0.0,27.8
1,1/1/2019 2:00:00,4.9,93,3.9,0.0,28.1
2,1/1/2019 3:00:00,5.0,94,4.1,0.0,27.2
3,1/1/2019 4:00:00,5.0,94,4.1,0.0,27.3
4,1/1/2019 5:00:00,5.0,94,4.1,0.0,28.2

In [50]:
england_weather_df['date_time'] = pd.to_datetime(england_weather_df['date_time'], infer_datetime_format=True, dayfirst=False)
england_weather_df.dtypes

date_time                 datetime64[ns]
temperature_2m(°C)               float64
relativehumidity_2m(%)             int64
dewpoint_2m(°C)                  float64
precipitation(mm)                float64
windspeed_100m(km/h)             float64
dtype: object

In [51]:
england_weather_df.head()

,date_time,temperature_2m(°C),relativehumidity_2m(%),dewpoint_2m(°C),precipitation(mm),windspeed_100m(km/h)
0,2019-01-01 01:00:00,5.0,93,4.0,0.0,27.8
1,2019-01-01 02:00:00,4.9,93,3.9,0.0,28.1
2,2019-01-01 03:00:00,5.0,94,4.1,0.0,27.2
3,2019-01-01 04:00:00,5.0,94,4.1,0.0,27.3
4,2019-01-01 05:00:00,5.0,94,4.1,0.0,28.2

In [52]:
england_weather_df.set_index(['date_time'], inplace=True)
england_weather_df

,temperature_2m(°C),relativehumidity_2m(%),dewpoint_2m(°C),precipitation(mm),windspeed_100m(km/h)
date_time,,,,,
2019-01-01 01:00:00,5.0,93,4.0,0.0,27.8
2019-01-01 02:00:00,4.9,93,3.9,0.0,28.1
2019-01-01 03:00:00,5.0,94,4.1,0.0,27.2
2019-01-01 04:00:00,5.0,94,4.1,0.0,27.3
2019-01-01 05:00:00,5.0,94,4.1,0.0,28.2
...,...,...,...,...,...
2023-05-15 20:00:00,11.4,64,4.7,0.0,25.9
2023-05-15 21:00:00,10.2,68,4.6,0.0,26.6
2023-05-15 22:00:00,9.1,74,4.7,0.0,26.3
2023-05-15 23:00:00,8.3,78,4.7,0.0,21.8
2023-05-16 00:00:00,7.8,80,4.6,0.0,22.6

In [53]:
england_weather_df = england_weather_df[~england_weather_df.index.duplicated(keep='first')]
england_weather_df.shape

(38304, 5)

In [54]:
profile = ProfileReport(england_weather_df,
                        title="England Weather Data",
        dataset={
        "description": "This profiling report was generated for Electricity Price prediction project",
        "copyright_holder": "Sandhya",
        "copyright_year": "2023",
    },)

In [55]:
profile.to_file("../Output/England_Weather_data_Analysis.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [56]:
wales_weather_df = pd.read_csv(data_foler +'/wales_weather_data.csv')

In [57]:
print(wales_weather_df.shape)
print(wales_weather_df.columns)
print(wales_weather_df.dtypes)

(38305, 6)
Index(['date_time', 'temperature_2m(°C)', 'relativehumidity_2m(%)',
       'dewpoint_2m(°C)', 'precipitation(mm)', 'windspeed_100m(km/h)'],
      dtype='object')
date_time                  object
temperature_2m(°C)        float64
relativehumidity_2m(%)      int64
dewpoint_2m(°C)           float64
precipitation(mm)         float64
windspeed_100m(km/h)      float64
dtype: object

In [58]:
wales_weather_df.head()

,date_time,temperature_2m(°C),relativehumidity_2m(%),dewpoint_2m(°C),precipitation(mm),windspeed_100m(km/h)
0,2019-01-01T00:00,5.7,91,4.3,0.0,27.5
1,2019-01-01T01:00,5.5,91,4.2,0.0,26.9
2,2019-01-01T02:00,5.5,91,4.1,0.0,27.2
3,2019-01-01T03:00,5.4,91,4.1,0.0,27.1
4,2019-01-01T04:00,5.4,91,4.1,0.0,26.8

In [59]:
wales_weather_df['date_time'] = pd.to_datetime(wales_weather_df['date_time'], infer_datetime_format=True, dayfirst=False)
wales_weather_df.dtypes

date_time                 datetime64[ns]
temperature_2m(°C)               float64
relativehumidity_2m(%)             int64
dewpoint_2m(°C)                  float64
precipitation(mm)                float64
windspeed_100m(km/h)             float64
dtype: object

In [60]:
wales_weather_df.head()

,date_time,temperature_2m(°C),relativehumidity_2m(%),dewpoint_2m(°C),precipitation(mm),windspeed_100m(km/h)
0,2019-01-01 00:00:00,5.7,91,4.3,0.0,27.5
1,2019-01-01 01:00:00,5.5,91,4.2,0.0,26.9
2,2019-01-01 02:00:00,5.5,91,4.1,0.0,27.2
3,2019-01-01 03:00:00,5.4,91,4.1,0.0,27.1
4,2019-01-01 04:00:00,5.4,91,4.1,0.0,26.8

In [61]:
wales_weather_df.set_index(['date_time'], inplace=True)
wales_weather_df

,temperature_2m(°C),relativehumidity_2m(%),dewpoint_2m(°C),precipitation(mm),windspeed_100m(km/h)
date_time,,,,,
2019-01-01 00:00:00,5.7,91,4.3,0.0,27.5
2019-01-01 01:00:00,5.5,91,4.2,0.0,26.9
2019-01-01 02:00:00,5.5,91,4.1,0.0,27.2
2019-01-01 03:00:00,5.4,91,4.1,0.0,27.1
2019-01-01 04:00:00,5.4,91,4.1,0.0,26.8
...,...,...,...,...,...
2023-05-15 20:00:00,9.2,67,3.3,0.0,20.1
2023-05-15 21:00:00,7.9,73,3.3,0.0,20.7
2023-05-15 22:00:00,6.8,79,3.5,0.0,19.6
2023-05-15 23:00:00,6.1,84,3.6,0.0,17.1
2023-05-16 00:00:00,5.3,88,3.6,0.0,15.9

In [62]:
wales_weather_df = wales_weather_df[~wales_weather_df.index.duplicated(keep='first')]
wales_weather_df.shape

(38305, 5)

In [63]:
profile = ProfileReport(wales_weather_df,
                        title="Wales Weather Data",
        dataset={
        "description": "This profiling report was generated for Electricity Price prediction project",
        "copyright_holder": "Sandhya",
        "copyright_year": "2023",
    },)

In [64]:
profile.to_file("../Output/Wales_Weather_data_Analysis.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

# Data Preprocessing

## Creating a uniform time series between 2019-01-01 to 2023-07-31

In [65]:
time_series = pd.date_range("2019-01-01 00:00:00", "2023-07-31 23:59:00", freq="30min")
time_df = time_series.to_frame().reset_index(drop=True).rename(columns={0:'date_time'})
time_df.dtypes

date_time    datetime64[ns]
dtype: object

In [66]:
time_df['Settlement Date'] = [d.date() for d in time_df['date_time']]
time_df['Settlement Period'] = [1+ ((d.time().hour*60 + d.time().minute)/30) for d in time_df['date_time']]
time_df['Settlement Period'] = time_df['Settlement Period'].astype('int64')
time_df
# time_df['minutes'] = pd.to_datetime(time_df['date_time']).astype('int64')
# time_df.to_csv("../Output/time_data.csv")

                date_time Settlement Date  Settlement Period
0     2019-01-01 00:00:00      2019-01-01                  1
1     2019-01-01 00:30:00      2019-01-01                  2
2     2019-01-01 01:00:00      2019-01-01                  3
3     2019-01-01 01:30:00      2019-01-01                  4
4     2019-01-01 02:00:00      2019-01-01                  5
...                   ...             ...                ...
80299 2023-07-31 21:30:00      2023-07-31                 44
80300 2023-07-31 22:00:00      2023-07-31                 45
80301 2023-07-31 22:30:00      2023-07-31                 46
80302 2023-07-31 23:00:00      2023-07-31                 47
80303 2023-07-31 23:30:00      2023-07-31                 48

[80304 rows x 3 columns]

## Converting remit data events into time series

In [67]:
fuel_type = remit_df.loc[remit_df['Unavailability Type'] =='Unplanned', 'Fuel Type'].unique().tolist()
fuel_type.remove(np.nan)
fuel_type

['Fossil Gas',
 'Biomass',
 'Wind Offshore',
 'Fossil Oil',
 'Nuclear',
 'Fossil Hard coal',
 'Hydro Pumped Storage',
 'Other',
 'Wind Onshore',
 'Hydro Water Reservoir']

In [68]:
df = remit_df.loc[(remit_df['Unavailability Type'] =='Unplanned')].copy(deep=True)
df.rename(columns={'Event Start (GMT)':'Start','Event End (GMT)':'Stop'}, inplace=True)
df = df[["Start", "Stop", "Available Capacity (MW)"]]
interval_hrs = (df["Stop"] - df["Start"])/pd.Timedelta("1hr")
df["Available_Capacity_rate(MW)"] = df["Available Capacity (MW)"]/interval_hrs
print(remit_df.shape, df.shape)
remit_list =[]
for fuel in fuel_type:
    df1 = df.loc[remit_df['Fuel Type'] == fuel].copy(deep=True)
    times = pd.date_range(df1["Start"].min(), df1["Stop"].max(), freq="30min")
    stepfunction = sc.Stairs(df1, start="Start", end="Stop", value="Available_Capacity_rate(MW)")
    result = stepfunction(times, include_index=True)
    result = pd.DataFrame(result)
    result.rename(columns={0: fuel+"_remit_Available_Capacity_rate(MWh)"}, inplace=True)
    result = result.resample('30min').mean()
    result['date_time'] = pd.to_datetime(result.index).tz_localize(None)
    result = result.reset_index(drop=True)
    result.set_index('date_time',inplace=True)
    print(result.shape)
    # print(result.dtypes)
    remit_list.append(result)

(5000, 12) (2730, 4)
(8105, 1)
(11096, 1)
(5468, 1)
(5600, 1)
(8385, 1)
(6501, 1)
(57577, 1)
(3974, 1)
(2355, 1)
(493, 1)

In [69]:
remit_list

[                     Fossil Gas_remit_Available_Capacity_rate(MWh)
 date_time
 2023-04-02 07:30:00                                   0.000000e+00
 2023-04-02 08:00:00                                   0.000000e+00
 2023-04-02 08:30:00                                   0.000000e+00
 2023-04-02 09:00:00                                   0.000000e+00
 2023-04-02 09:30:00                                   0.000000e+00
 ...                                                            ...
 2023-09-18 01:30:00                                  -1.072920e-12
 2023-09-18 02:00:00                                  -1.072920e-12
 2023-09-18 02:30:00                                  -1.072920e-12
 2023-09-18 03:00:00                                  -1.072920e-12
 2023-09-18 03:30:00                                  -1.072920e-12

 [8105 rows x 1 columns],
                      Biomass_remit_Available_Capacity_rate(MWh)
 date_time
 2022-12-14 11:00:00                                    0.180730
 2022-12-14 11:30:00                                    0.180730
 2022-12-14 12:00:00                                    0.180730
 2022-12-14 12:30:00                                    0.180730
 2022-12-14 13:00:00                                    0.180730
 ...                                                         ...
 2023-08-02 12:30:00                                   10.150853
 2023-08-02 13:00:00                                   10.150853
 2023-08-02 13:30:00                                   10.150853
 2023-08-02 14:00:00                                   10.150853
 2023-08-02 14:30:00                                   10.150853

 [11096 rows x 1 columns],
                      Wind Offshore_remit_Available_Capacity_rate(MWh)
 date_time
 2023-04-24 06:00:00                                         14.511448
 2023-04-24 06:30:00                                         14.511448
 2023-04-24 07:00:00                                         14.511448
 2023-04-24 07:30:00                                         14.511448
 2023-04-24 08:00:00                                         14.511448
 ...                                                               ...
 2023-08-16 01:30:00                                          0.283037
 2023-08-16 02:00:00                                          0.283037
 2023-08-16 02:30:00                                          0.283037
 2023-08-16 03:00:00                                          0.283037
 2023-08-16 03:30:00                                          0.283037

 [5468 rows x 1 columns],
                      Fossil Oil_remit_Available_Capacity_rate(MWh)
 date_time
 2023-04-19 12:00:00                                       0.043672
 2023-04-19 12:30:00                                       0.043672
 2023-04-19 13:00:00                                       0.043672
 2023-04-19 13:30:00                                       0.043672
 2023-04-19 14:00:00                                       0.043672
 ...                                                            ...
 2023-08-14 01:30:00                                       0.025646
 2023-08-14 02:00:00                                       0.025646
 2023-08-14 02:30:00                                       0.025646
 2023-08-14 03:00:00                                       0.025646
 2023-08-14 03:30:00                                       0.025646

 [5600 rows x 1 columns],
                      Nuclear_remit_Available_Capacity_rate(MWh)
 date_time
 2023-02-16 21:00:00                                         0.0
 2023-02-16 21:30:00                                         0.0
 2023-02-16 22:00:00                                         0.0
 2023-02-16 22:30:00                                         0.0
 2023-02-16 23:00:00                                         0.0
 ...                                                         ...
 2023-08-10 11:00:00                                         0.0
 2023-08-10 11:30:00                                         0.0
 2023-08-10 12:00:00                                         0.0
 2023-08-10 12:30:00                                         0.0
 2023-08-10 13:00:00                                         0.0

 [8385 rows x 1 columns],
                      Fossil Hard coal_remit_Available_Capacity_rate(MWh)
 date_time
 2023-03-15 09:30:00                                                0.0
 2023-03-15 10:00:00                                                0.0
 2023-03-15 10:30:00                                                0.0
 2023-03-15 11:00:00                                                0.0
 2023-03-15 11:30:00                                                0.0
 ...                                                                ...
 2023-07-28 17:30:00                                               88.0
 2023-07-28 18:00:00                                               88.0
 2023-07-28 18:30:00                                               88.0
 2023-07-28 19:00:00                                               88.0
 2023-07-28 19:30:00                                               88.0

 [6501 rows x 1 columns],
                      Hydro Pumped Storage_remit_Available_Capacity_rate(MWh)
 date_time
 2020-09-21 10:00:00                                                0.0
 2020-09-21 10:30:00                                                0.0
 2020-09-21 11:00:00                                                0.0
 2020-09-21 11:30:00                                                0.0
 2020-09-21 12:00:00                                                0.0
 ...                                                                ...
 2024-01-03 20:00:00                                                0.0
 2024-01-03 20:30:00                                                0.0
 2024-01-03 21:00:00                                                0.0
 2024-01-03 21:30:00                                                0.0
 2024-01-03 22:00:00                                                0.0

 [57577 rows x 1 columns],
                      Other_remit_Available_Capacity_rate(MWh)
 date_time
 2023-05-03 04:30:00                                  5.148686
 2023-05-03 05:00:00                                  5.148686
 2023-05-03 05:30:00                                  5.148686
 2023-05-03 06:00:00                                  5.148686
 2023-05-03 06:30:00                                  5.148686
 ...                                                       ...
 2023-07-24 21:00:00                                  4.711227
 2023-07-24 21:30:00                                  4.711227
 2023-07-24 22:00:00                                  4.711227
 2023-07-24 22:30:00                                  4.711227
 2023-07-24 23:00:00                                  4.711227

 [3974 rows x 1 columns],
                      Wind Onshore_remit_Available_Capacity_rate(MWh)
 date_time
 2023-05-22 10:00:00                                       103.448276
 2023-05-22 10:30:00                                       103.448276
 2023-05-22 11:00:00                                         0.000000
 2023-05-22 11:30:00                                         0.000000
 2023-05-22 12:00:00                                         0.000000
 ...                                                              ...
 2023-07-10 09:00:00                                        19.295111
 2023-07-10 09:30:00                                        19.295111
 2023-07-10 10:00:00                                        19.295111
 2023-07-10 10:30:00                                        19.295111
 2023-07-10 11:00:00                                         0.000000

 [2355 rows x 1 columns],
                      Hydro Water Reservoir_remit_Available_Capacity_rate(MWh)
 date_time
 2023-04-27 04:00:00                                                0.0
 2023-04-27 04:30:00                                                0.0
 2023-04-27 05:00:00                                                0.0
 2023-04-27 05:30:00                                                0.0
 2023-04-27 06:00:00                                                0.0
 ...                                                                ...
 2023-05-07 08:00:00                                                0.0
 2023-05-07 08:30:00                                                0.0
 2023-05-07 09:00:00                                                0.0
 2023-05-07 09:30:00                                                0.0
 2023-05-07 10:00:00                                                0.0

 [493 rows x 1 columns]]

## Resample Rolling Deamnd data by 30 minutes

In [70]:
sampled_rolling_demand_df = rolling_demand_df['Rolling_Demand'].resample('30min').mean().to_frame()
print(sampled_rolling_demand_df.shape)
sampled_rolling_demand_df

(68496, 1)

                     Rolling_Demand
date_time
2020-01-11 00:00:00    23376.333333
2020-01-11 00:30:00    23478.500000
2020-01-11 01:00:00    22848.000000
2020-01-11 01:30:00    22024.500000
2020-01-11 02:00:00    22190.666667
...                             ...
2023-12-07 21:30:00    26615.500000
2023-12-07 22:00:00    26905.166667
2023-12-07 22:30:00    25984.333333
2023-12-07 23:00:00    26004.166667
2023-12-07 23:30:00    25584.666667

[68496 rows x 1 columns]

## Joining time data to sspsbpniv

In [71]:
#sspsbpniv_df = sspsbpniv_df.reset_index()
#print(sspsbpniv_df)
time_df['Settlement Date'] = pd.to_datetime(time_df['Settlement Date'], infer_datetime_format=True, dayfirst=False)
index_time_df =time_df.copy(deep=True)
index_time_df.set_index(['Settlement Date','Settlement Period'], inplace=True)
print(index_time_df)

                                            date_time
Settlement Date Settlement Period
2019-01-01      1                 2019-01-01 00:00:00
                2                 2019-01-01 00:30:00
                3                 2019-01-01 01:00:00
                4                 2019-01-01 01:30:00
                5                 2019-01-01 02:00:00
...                                               ...
2023-07-31      44                2023-07-31 21:30:00
                45                2023-07-31 22:00:00
                46                2023-07-31 22:30:00
                47                2023-07-31 23:00:00
                48                2023-07-31 23:30:00

[80304 rows x 1 columns]

In [72]:
print(index_time_df.index.dtypes)
print(sspsbpniv_df.index.dtypes)
df = pd.merge(index_time_df, sspsbpniv_df, left_index=True, right_index=True, how='left')
df.tail()

Settlement Date      datetime64[ns]
Settlement Period             int64
dtype: object
Settlement Date      datetime64[ns]
Settlement Period             int64
dtype: object

                                            date_time  \
Settlement Date Settlement Period
2023-07-31      44                2023-07-31 21:30:00
                45                2023-07-31 22:00:00
                46                2023-07-31 22:30:00
                47                2023-07-31 23:00:00
                48                2023-07-31 23:30:00

                                   System Sell Price(GBP/MWh)  \
Settlement Date Settlement Period
2023-07-31      44                                        NaN
                45                                        NaN
                46                                        NaN
                47                                        NaN
                48                                        NaN

                                   System Buy Price(GBP/MWh)  \
Settlement Date Settlement Period
2023-07-31      44                                       NaN
                45                                       NaN
                46                                       NaN
                47                                       NaN
                48                                       NaN

                                   Net Imbalance Volume(MWh)
Settlement Date Settlement Period
2023-07-31      44                                       NaN
                45                                       NaN
                46                                       NaN
                47                                       NaN
                48                                       NaN

## Adding Demand data to sspsbpinv Data set

In [73]:
df1 = pd.merge(df, demand_df, left_index=True, right_index=True, how='left')
df1.tail()

                                            date_time  \
Settlement Date Settlement Period
2023-07-31      44                2023-07-31 21:30:00
                45                2023-07-31 22:00:00
                46                2023-07-31 22:30:00
                47                2023-07-31 23:00:00
                48                2023-07-31 23:30:00

                                   System Sell Price(GBP/MWh)  \
Settlement Date Settlement Period
2023-07-31      44                                        NaN
                45                                        NaN
                46                                        NaN
                47                                        NaN
                48                                        NaN

                                   System Buy Price(GBP/MWh)  \
Settlement Date Settlement Period
2023-07-31      44                                       NaN
                45                                       NaN
                46                                       NaN
                47                                       NaN
                48                                       NaN

                                   Net Imbalance Volume(MWh)  ND  TSD  \
Settlement Date Settlement Period
2023-07-31      44                                       NaN NaN  NaN
                45                                       NaN NaN  NaN
                46                                       NaN NaN  NaN
                47                                       NaN NaN  NaN
                48                                       NaN NaN  NaN

                                   ENGLAND_WALES_DEMAND  \
Settlement Date Settlement Period
2023-07-31      44                                  NaN
                45                                  NaN
                46                                  NaN
                47                                  NaN
                48                                  NaN

                                   EMBEDDED_WIND_GENERATION  \
Settlement Date Settlement Period
2023-07-31      44                                      NaN
                45                                      NaN
                46                                      NaN
                47                                      NaN
                48                                      NaN

                                   EMBEDDED_WIND_CAPACITY  \
Settlement Date Settlement Period
2023-07-31      44                                    NaN
                45                                    NaN
                46                                    NaN
                47                                    NaN
                48                                    NaN

                                   EMBEDDED_SOLAR_GENERATION  ...  \
Settlement Date Settlement Period                             ...
2023-07-31      44                                       NaN  ...
                45                                       NaN  ...
                46                                       NaN  ...
                47                                       NaN  ...
                48                                       NaN  ...

                                   NON_BM_STOR  PUMP_STORAGE_PUMPING  \
Settlement Date Settlement Period
2023-07-31      44                         NaN                   NaN
                45                         NaN                   NaN
                46                         NaN                   NaN
                47                         NaN                   NaN
                48                         NaN                   NaN

                                   IFA_FLOW  IFA2_FLOW  BRITNED_FLOW  \
Settlement Date Settlement Period
2023-07-31      44                      NaN        NaN           NaN
                45                      NaN        NaN           NaN
                46                      NaN        NaN           NaN
                47                      NaN        NaN           NaN
                48                      NaN        NaN           NaN

                                   MOYLE_FLOW  EAST_WEST_FLOW  NEMO_FLOW  \
Settlement Date Settlement Period
2023-07-31      44                        NaN             NaN        NaN
                45                        NaN             NaN        NaN
                46                        NaN             NaN        NaN
                47                        NaN             NaN        NaN
                48                        NaN             NaN        NaN

                                   NSL_FLOW  ELECLINK_FLOW
Settlement Date Settlement Period
2023-07-31      44                      NaN            NaN
                45                      NaN            NaN
                46                      NaN            NaN
                47                      NaN            NaN
                48                      NaN            NaN

[5 rows x 21 columns]

## adding interconnectorflow

In [74]:
df2 = pd.merge(df1, interconnectorflow_df, left_index=True, right_index=True, how='left')
df2.tail()

                                            date_time  \
Settlement Date Settlement Period
2023-07-31      44                2023-07-31 21:30:00
                45                2023-07-31 22:00:00
                46                2023-07-31 22:30:00
                47                2023-07-31 23:00:00
                48                2023-07-31 23:30:00

                                   System Sell Price(GBP/MWh)  \
Settlement Date Settlement Period
2023-07-31      44                                        NaN
                45                                        NaN
                46                                        NaN
                47                                        NaN
                48                                        NaN

                                   System Buy Price(GBP/MWh)  \
Settlement Date Settlement Period
2023-07-31      44                                       NaN
                45                                       NaN
                46                                       NaN
                47                                       NaN
                48                                       NaN

                                   Net Imbalance Volume(MWh)  ND  TSD  \
Settlement Date Settlement Period
2023-07-31      44                                       NaN NaN  NaN
                45                                       NaN NaN  NaN
                46                                       NaN NaN  NaN
                47                                       NaN NaN  NaN
                48                                       NaN NaN  NaN

                                   ENGLAND_WALES_DEMAND  \
Settlement Date Settlement Period
2023-07-31      44                                  NaN
                45                                  NaN
                46                                  NaN
                47                                  NaN
                48                                  NaN

                                   EMBEDDED_WIND_GENERATION  \
Settlement Date Settlement Period
2023-07-31      44                                      NaN
                45                                      NaN
                46                                      NaN
                47                                      NaN
                48                                      NaN

                                   EMBEDDED_WIND_CAPACITY  \
Settlement Date Settlement Period
2023-07-31      44                                    NaN
                45                                    NaN
                46                                    NaN
                47                                    NaN
                48                                    NaN

                                   EMBEDDED_SOLAR_GENERATION  ...  \
Settlement Date Settlement Period                             ...
2023-07-31      44                                       NaN  ...
                45                                       NaN  ...
                46                                       NaN  ...
                47                                       NaN  ...
                48                                       NaN  ...

                                   ELECLINK_FLOW  Unnamed: 0  INTFR(MW)  \
Settlement Date Settlement Period
2023-07-31      44                           NaN         NaN        NaN
                45                           NaN         NaN        NaN
                46                           NaN         NaN        NaN
                47                           NaN         NaN        NaN
                48                           NaN         NaN        NaN

                                   INTIRL(MW)  INTNED(MW)  INTEW(MW)  \
Settlement Date Settlement Period
2023-07-31      44                        NaN         NaN        NaN
                45                        NaN         NaN        NaN
                46                        NaN         NaN        NaN
                47                        NaN         NaN        NaN
                48                        NaN         NaN        NaN

                                   INTNEM(MW)  INTELEC(MW)  INTIFA2(MW)  \
Settlement Date Settlement Period
2023-07-31      44                        NaN          NaN          NaN
                45                        NaN          NaN          NaN
                46                        NaN          NaN          NaN
                47                        NaN          NaN          NaN
                48                        NaN          NaN          NaN

                                   INTNSL(MW)
Settlement Date Settlement Period
2023-07-31      44                        NaN
                45                        NaN
                46                        NaN
                47                        NaN
                48                        NaN

[5 rows x 30 columns]

## Adding rolling demand data

In [75]:
df3 = df2.reset_index()
df3.set_index('date_time', inplace=True)
df3
# sampled_rolling_demand_df.reset_index(inplace=True)
# sampled_rolling_demand_df.rename(columns={'Demand':'rolling_demand'}, inplace=True)
# sampled_rolling_demand_df

,Settlement Date,Settlement Period,System Sell Price(GBP/MWh),System Buy Price(GBP/MWh),Net Imbalance Volume(MWh),ND,TSD,ENGLAND_WALES_DEMAND,EMBEDDED_WIND_GENERATION,EMBEDDED_WIND_CAPACITY,...,ELECLINK_FLOW,Unnamed: 0,INTFR(MW),INTIRL(MW),INTNED(MW),INTEW(MW),INTNEM(MW),INTELEC(MW),INTIFA2(MW),INTNSL(MW)
date_time,,,,,,,,,,,,,,,,,,,,,
2019-01-01 00:00:00,2019-01-01,1,15.0,15.0,-1058.307,23808.0,25291.0,22393.0,2548.0,5918.0,...,0.0,INTOUTHH,1552.0,-456.0,182.0,-246.0,NaN,NaN,NaN,NaN
2019-01-01 00:30:00,2019-01-01,2,15.0,15.0,-664.288,24402.0,25720.0,22962.0,2475.0,5918.0,...,0.0,INTOUTHH,1554.0,-456.0,196.0,-240.0,NaN,NaN,NaN,NaN
2019-01-01 01:00:00,2019-01-01,3,16.0,16.0,-1033.909,24147.0,25495.0,22689.0,2396.0,5918.0,...,0.0,INTOUTHH,1504.0,-410.0,588.0,-312.0,NaN,NaN,NaN,NaN
2019-01-01 01:30:00,2019-01-01,4,16.0,16.0,-1319.343,23197.0,24590.0,21849.0,2317.0,5918.0,...,0.0,INTOUTHH,1504.0,-452.0,600.0,-318.0,NaN,NaN,NaN,NaN
2019-01-01 02:00:00,2019-01-01,5,16.0,16.0,-1180.858,22316.0,24346.0,20979.0,2236.0,5918.0,...,0.0,INTOUTHH,1504.0,-442.0,678.0,-468.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-31 21:30:00,2023-07-31,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 22:00:00,2023-07-31,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 22:30:00,2023-07-31,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 23:00:00,2023-07-31,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 23:30:00,2023-07-31,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [76]:
df3 = pd.merge(df3, sampled_rolling_demand_df,  left_index=True, right_index=True, how='left')

In [77]:
df3.tail()

,Settlement Date,Settlement Period,System Sell Price(GBP/MWh),System Buy Price(GBP/MWh),Net Imbalance Volume(MWh),ND,TSD,ENGLAND_WALES_DEMAND,EMBEDDED_WIND_GENERATION,EMBEDDED_WIND_CAPACITY,...,Unnamed: 0,INTFR(MW),INTIRL(MW),INTNED(MW),INTEW(MW),INTNEM(MW),INTELEC(MW),INTIFA2(MW),INTNSL(MW),Rolling_Demand
date_time,,,,,,,,,,,,,,,,,,,,,
2023-07-31 21:30:00,2023-07-31,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23544.666667
2023-07-31 22:00:00,2023-07-31,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22629.833333
2023-07-31 22:30:00,2023-07-31,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21368.500000
2023-07-31 23:00:00,2023-07-31,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20798.166667
2023-07-31 23:30:00,2023-07-31,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20669.500000

## Adding Remit data

In [78]:
df4= df3.copy(deep=True)
for data_df in remit_list:
    df4 = pd.merge(df4, data_df,  left_index=True, right_index=True, how='left')
df4.tail()

,Settlement Date,Settlement Period,System Sell Price(GBP/MWh),System Buy Price(GBP/MWh),Net Imbalance Volume(MWh),ND,TSD,ENGLAND_WALES_DEMAND,EMBEDDED_WIND_GENERATION,EMBEDDED_WIND_CAPACITY,...,Fossil Gas_remit_Available_Capacity_rate(MWh),Biomass_remit_Available_Capacity_rate(MWh),Wind Offshore_remit_Available_Capacity_rate(MWh),Fossil Oil_remit_Available_Capacity_rate(MWh),Nuclear_remit_Available_Capacity_rate(MWh),Fossil Hard coal_remit_Available_Capacity_rate(MWh),Hydro Pumped Storage_remit_Available_Capacity_rate(MWh),Other_remit_Available_Capacity_rate(MWh),Wind Onshore_remit_Available_Capacity_rate(MWh),Hydro Water Reservoir_remit_Available_Capacity_rate(MWh)
date_time,,,,,,,,,,,,,,,,,,,,,
2023-07-31 21:30:00,2023-07-31,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.821429,81.488566,16.153310,0.025646,0.0,NaN,0.0,NaN,NaN,NaN
2023-07-31 22:00:00,2023-07-31,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.821429,81.488566,16.153310,0.025646,0.0,NaN,0.0,NaN,NaN,NaN
2023-07-31 22:30:00,2023-07-31,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.821429,81.488566,16.153310,0.025646,0.0,NaN,0.0,NaN,NaN,NaN
2023-07-31 23:00:00,2023-07-31,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.821429,64.290641,0.283037,0.025646,0.0,NaN,0.0,NaN,NaN,NaN
2023-07-31 23:30:00,2023-07-31,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,26.821429,64.290641,0.283037,0.025646,0.0,NaN,0.0,NaN,NaN,NaN

## Adding England Weather Data

In [79]:
df5 = pd.merge(df4, england_weather_df,  left_index=True, right_index=True, how='left')
df5.tail()

,Settlement Date,Settlement Period,System Sell Price(GBP/MWh),System Buy Price(GBP/MWh),Net Imbalance Volume(MWh),ND,TSD,ENGLAND_WALES_DEMAND,EMBEDDED_WIND_GENERATION,EMBEDDED_WIND_CAPACITY,...,Fossil Hard coal_remit_Available_Capacity_rate(MWh),Hydro Pumped Storage_remit_Available_Capacity_rate(MWh),Other_remit_Available_Capacity_rate(MWh),Wind Onshore_remit_Available_Capacity_rate(MWh),Hydro Water Reservoir_remit_Available_Capacity_rate(MWh),temperature_2m(°C),relativehumidity_2m(%),dewpoint_2m(°C),precipitation(mm),windspeed_100m(km/h)
date_time,,,,,,,,,,,,,,,,,,,,,
2023-07-31 21:30:00,2023-07-31,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 22:00:00,2023-07-31,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 22:30:00,2023-07-31,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 23:00:00,2023-07-31,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 23:30:00,2023-07-31,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Adding Wales Weather Data

In [80]:
df6 = pd.merge(df5, wales_weather_df,  left_index=True, right_index=True, how='left', suffixes=('_England','_Wales'))
df6.tail()

,Settlement Date,Settlement Period,System Sell Price(GBP/MWh),System Buy Price(GBP/MWh),Net Imbalance Volume(MWh),ND,TSD,ENGLAND_WALES_DEMAND,EMBEDDED_WIND_GENERATION,EMBEDDED_WIND_CAPACITY,...,temperature_2m(°C)_England,relativehumidity_2m(%)_England,dewpoint_2m(°C)_England,precipitation(mm)_England,windspeed_100m(km/h)_England,temperature_2m(°C)_Wales,relativehumidity_2m(%)_Wales,dewpoint_2m(°C)_Wales,precipitation(mm)_Wales,windspeed_100m(km/h)_Wales
date_time,,,,,,,,,,,,,,,,,,,,,
2023-07-31 21:30:00,2023-07-31,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 22:00:00,2023-07-31,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 22:30:00,2023-07-31,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 23:00:00,2023-07-31,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 23:30:00,2023-07-31,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
final_data_df = df6.copy(deep=True)

# Exploratory Analysis

In [82]:
profile = ProfileReport(final_data_df,
                        title="All Data before Preprocessing",
                        dataset={
                            "description": "This profiling report was generated for Electricity Price prediction project",
                            "copyright_holder": "Sandhya",
                            "copyright_year": "2023",},
                        correlations={"auto": {"calculate": False},
                                      "pearson": {"calculate": False},
                                      "spearman": {"calculate": False},
                                      "kendall": {"calculate": False},
                                      "phi_k": {"calculate": False},
                                      "cramers": {"calculate": False},},
                        )

In [83]:
profile.to_file("../Output/Final_data_before_preprocess_Analysis.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [84]:
final_data_df.to_csv(data_foler +'/combinded_data.csv')

# Data Cleaning

In [85]:
final_data_df.columns

Index(['Settlement Date', 'Settlement Period', 'System Sell Price(GBP/MWh)',
       'System Buy Price(GBP/MWh)', 'Net Imbalance Volume(MWh)', 'ND', 'TSD',
       'ENGLAND_WALES_DEMAND', 'EMBEDDED_WIND_GENERATION',
       'EMBEDDED_WIND_CAPACITY', 'EMBEDDED_SOLAR_GENERATION',
       'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR', 'PUMP_STORAGE_PUMPING',
       'IFA_FLOW', 'IFA2_FLOW', 'BRITNED_FLOW', 'MOYLE_FLOW', 'EAST_WEST_FLOW',
       'NEMO_FLOW', 'NSL_FLOW', 'ELECLINK_FLOW', 'Unnamed: 0', 'INTFR(MW)',
       'INTIRL(MW)', 'INTNED(MW)', 'INTEW(MW)', 'INTNEM(MW)', 'INTELEC(MW)',
       'INTIFA2(MW)', 'INTNSL(MW)', 'Rolling_Demand',
       'Fossil Gas_remit_Available_Capacity_rate(MWh)',
       'Biomass_remit_Available_Capacity_rate(MWh)',
       'Wind Offshore_remit_Available_Capacity_rate(MWh)',
       'Fossil Oil_remit_Available_Capacity_rate(MWh)',
       'Nuclear_remit_Available_Capacity_rate(MWh)',
       'Fossil Hard coal_remit_Available_Capacity_rate(MWh)',
       'Hydro Pumped Storage_remit_Available_Capacity_rate(MWh)',
       'Other_remit_Available_Capacity_rate(MWh)',
       'Wind Onshore_remit_Available_Capacity_rate(MWh)',
       'Hydro Water Reservoir_remit_Available_Capacity_rate(MWh)',
       'temperature_2m(°C)_England', 'relativehumidity_2m(%)_England',
       'dewpoint_2m(°C)_England', 'precipitation(mm)_England',
       'windspeed_100m(km/h)_England', 'temperature_2m(°C)_Wales',
       'relativehumidity_2m(%)_Wales', 'dewpoint_2m(°C)_Wales',
       'precipitation(mm)_Wales', 'windspeed_100m(km/h)_Wales'],
      dtype='object')

In [86]:
final_data_df['2023-01-01 00:00:00':].loc[final_data_df['System Sell Price(GBP/MWh)'].isnull()]

,Settlement Date,Settlement Period,System Sell Price(GBP/MWh),System Buy Price(GBP/MWh),Net Imbalance Volume(MWh),ND,TSD,ENGLAND_WALES_DEMAND,EMBEDDED_WIND_GENERATION,EMBEDDED_WIND_CAPACITY,...,temperature_2m(°C)_England,relativehumidity_2m(%)_England,dewpoint_2m(°C)_England,precipitation(mm)_England,windspeed_100m(km/h)_England,temperature_2m(°C)_Wales,relativehumidity_2m(%)_Wales,dewpoint_2m(°C)_Wales,precipitation(mm)_Wales,windspeed_100m(km/h)_Wales
date_time,,,,,,,,,,,,,,,,,,,,,
2023-03-26 23:00:00,2023-03-26,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.1,83.0,0.4,0.0,18.8,2.7,91.0,1.5,0.0,10.3
2023-03-26 23:30:00,2023-03-26,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-25 00:00:00,2023-07-25,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-25 00:30:00,2023-07-25,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-25 01:00:00,2023-07-25,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-07-31 21:30:00,2023-07-31,44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 22:00:00,2023-07-31,45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 22:30:00,2023-07-31,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 23:00:00,2023-07-31,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-31 23:30:00,2023-07-31,48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [87]:
final_data_df = final_data_df[:'2023-07-24'].copy(deep=True)

In [88]:
final_data_df.drop(columns=['Settlement Date', 'Settlement Period','Unnamed: 0'], inplace=True)

In [89]:
final_data_df.columns

Index(['System Sell Price(GBP/MWh)', 'System Buy Price(GBP/MWh)',
       'Net Imbalance Volume(MWh)', 'ND', 'TSD', 'ENGLAND_WALES_DEMAND',
       'EMBEDDED_WIND_GENERATION', 'EMBEDDED_WIND_CAPACITY',
       'EMBEDDED_SOLAR_GENERATION', 'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR',
       'PUMP_STORAGE_PUMPING', 'IFA_FLOW', 'IFA2_FLOW', 'BRITNED_FLOW',
       'MOYLE_FLOW', 'EAST_WEST_FLOW', 'NEMO_FLOW', 'NSL_FLOW',
       'ELECLINK_FLOW', 'INTFR(MW)', 'INTIRL(MW)', 'INTNED(MW)', 'INTEW(MW)',
       'INTNEM(MW)', 'INTELEC(MW)', 'INTIFA2(MW)', 'INTNSL(MW)',
       'Rolling_Demand', 'Fossil Gas_remit_Available_Capacity_rate(MWh)',
       'Biomass_remit_Available_Capacity_rate(MWh)',
       'Wind Offshore_remit_Available_Capacity_rate(MWh)',
       'Fossil Oil_remit_Available_Capacity_rate(MWh)',
       'Nuclear_remit_Available_Capacity_rate(MWh)',
       'Fossil Hard coal_remit_Available_Capacity_rate(MWh)',
       'Hydro Pumped Storage_remit_Available_Capacity_rate(MWh)',
       'Other_remit_Available_Capacity_rate(MWh)',
       'Wind Onshore_remit_Available_Capacity_rate(MWh)',
       'Hydro Water Reservoir_remit_Available_Capacity_rate(MWh)',
       'temperature_2m(°C)_England', 'relativehumidity_2m(%)_England',
       'dewpoint_2m(°C)_England', 'precipitation(mm)_England',
       'windspeed_100m(km/h)_England', 'temperature_2m(°C)_Wales',
       'relativehumidity_2m(%)_Wales', 'dewpoint_2m(°C)_Wales',
       'precipitation(mm)_Wales', 'windspeed_100m(km/h)_Wales'],
      dtype='object')

In [90]:
final_data_df['System Sell Price(GBP/MWh)'] = final_data_df['System Sell Price(GBP/MWh)'].ffill().bfill()
final_data_df['System Buy Price(GBP/MWh)'] = final_data_df['System Buy Price(GBP/MWh)'].ffill().bfill()
final_data_df['Net Imbalance Volume(MWh)'] = final_data_df['Net Imbalance Volume(MWh)'].ffill().bfill()

In [91]:
remit_cols =['Fossil Gas_remit_Available_Capacity_rate(MWh)',
       'Biomass_remit_Available_Capacity_rate(MWh)',
       'Wind Offshore_remit_Available_Capacity_rate(MWh)',
       'Fossil Oil_remit_Available_Capacity_rate(MWh)',
       'Nuclear_remit_Available_Capacity_rate(MWh)',
       'Fossil Hard coal_remit_Available_Capacity_rate(MWh)',
       'Hydro Pumped Storage_remit_Available_Capacity_rate(MWh)',
       'Other_remit_Available_Capacity_rate(MWh)',
       'Wind Onshore_remit_Available_Capacity_rate(MWh)',
       'Hydro Water Reservoir_remit_Available_Capacity_rate(MWh)']
for col in remit_cols:
    final_data_df[col].fillna(0,inplace=True)

In [92]:
interconncector_cols = ['INTFR(MW)', 'INTIRL(MW)', 'INTNED(MW)', 'INTEW(MW)', 'INTNEM(MW)', 'INTELEC(MW)', 'INTIFA2(MW)', 'INTNSL(MW)']
for col in interconncector_cols:
    final_data_df[col].fillna(0,inplace=True)

In [93]:
demand_cols = ['ND', 'TSD', 'ENGLAND_WALES_DEMAND',
       'EMBEDDED_WIND_GENERATION', 'EMBEDDED_WIND_CAPACITY',
       'EMBEDDED_SOLAR_GENERATION', 'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR',
       'PUMP_STORAGE_PUMPING', 'IFA_FLOW', 'IFA2_FLOW', 'BRITNED_FLOW',
       'MOYLE_FLOW', 'EAST_WEST_FLOW', 'NEMO_FLOW', 'NSL_FLOW',
       'ELECLINK_FLOW']
for col in demand_cols:
    final_data_df[col] = final_data_df[col].ffill().bfill()

In [94]:
final_data_df['Rolling_Demand']= final_data_df['Rolling_Demand'].ffill().bfill()

In [95]:
weather_cols = ['temperature_2m(°C)_England', 'relativehumidity_2m(%)_England',
       'dewpoint_2m(°C)_England', 'precipitation(mm)_England',
       'windspeed_100m(km/h)_England', 'temperature_2m(°C)_Wales',
       'relativehumidity_2m(%)_Wales', 'dewpoint_2m(°C)_Wales',
       'precipitation(mm)_Wales', 'windspeed_100m(km/h)_Wales']
for col in weather_cols:
    final_data_df[col] =final_data_df[col].interpolate().ffill().bfill()

In [96]:
final_data_df.describe()

,System Sell Price(GBP/MWh),System Buy Price(GBP/MWh),Net Imbalance Volume(MWh),ND,TSD,ENGLAND_WALES_DEMAND,EMBEDDED_WIND_GENERATION,EMBEDDED_WIND_CAPACITY,EMBEDDED_SOLAR_GENERATION,EMBEDDED_SOLAR_CAPACITY,...,temperature_2m(°C)_England,relativehumidity_2m(%)_England,dewpoint_2m(°C)_England,precipitation(mm)_England,windspeed_100m(km/h)_England,temperature_2m(°C)_Wales,relativehumidity_2m(%)_Wales,dewpoint_2m(°C)_Wales,precipitation(mm)_Wales,windspeed_100m(km/h)_Wales
count,79968.000000,79968.000000,79968.000000,79968.000000,79968.000000,79968.000000,79968.000000,79968.000000,79968.000000,79968.000000,...,79968.000000,79968.000000,79968.000000,79968.000000,79968.000000,79968.000000,79968.000000,79968.000000,79968.000000,79968.000000
mean,98.229089,98.229089,5.877766,27644.488195,29353.450055,25274.838235,1714.369148,6453.442552,1371.073117,13274.528424,...,10.031850,80.753870,6.598708,0.082753,25.663020,8.215936,85.399566,5.715927,0.127671,23.495918
std,119.055803,119.055803,322.666960,6417.433466,6092.592415,5874.259400,1038.912124,156.960052,2116.300057,350.367187,...,5.799355,13.539727,4.810773,0.286558,11.489347,5.203535,12.564229,4.728145,0.348486,11.485942
min,-185.330000,-185.330000,-2283.458000,13367.000000,16513.000000,0.000000,173.000000,5918.000000,0.000000,13052.000000,...,-5.300000,23.000000,-10.800000,0.000000,0.400000,-10.700000,31.000000,-11.500000,0.000000,0.000000
25%,35.000000,35.000000,-181.503000,22613.750000,24762.000000,20658.000000,883.000000,6465.000000,0.000000,13080.000000,...,6.100000,73.000000,3.400000,0.000000,17.900000,4.850000,79.000000,2.550000,0.000000,15.500000
50%,61.850000,61.850000,9.698500,26855.000000,28564.000000,24501.000000,1494.000000,6527.000000,8.000000,13080.000000,...,9.500000,83.500000,6.500000,0.000000,24.000000,7.750000,89.000000,5.700000,0.000000,22.000000
75%,130.000000,130.000000,192.037000,31814.000000,33162.000000,29088.000000,2346.000000,6545.000000,2240.000000,13081.000000,...,14.000000,91.500000,10.150000,0.000000,32.500000,11.900000,95.000000,9.150000,0.100000,31.100000
max,4037.800000,4037.800000,2000.966000,47081.000000,48800.000000,42555.000000,5354.000000,6574.000000,9830.000000,14285.000000,...,36.600000,100.000000,22.500000,6.300000,84.200000,30.500000,100.000000,20.800000,6.200000,74.500000

In [97]:
final_data_df.isna().sum()

System Sell Price(GBP/MWh)                                  0
System Buy Price(GBP/MWh)                                   0
Net Imbalance Volume(MWh)                                   0
ND                                                          0
TSD                                                         0
ENGLAND_WALES_DEMAND                                        0
EMBEDDED_WIND_GENERATION                                    0
EMBEDDED_WIND_CAPACITY                                      0
EMBEDDED_SOLAR_GENERATION                                   0
EMBEDDED_SOLAR_CAPACITY                                     0
NON_BM_STOR                                                 0
PUMP_STORAGE_PUMPING                                        0
IFA_FLOW                                                    0
IFA2_FLOW                                                   0
BRITNED_FLOW                                                0
MOYLE_FLOW                                                  0
EAST_WEST_FLOW                                              0
NEMO_FLOW                                                   0
NSL_FLOW                                                    0
ELECLINK_FLOW                                               0
INTFR(MW)                                                   0
INTIRL(MW)                                                  0
INTNED(MW)                                                  0
INTEW(MW)                                                   0
INTNEM(MW)                                                  0
INTELEC(MW)                                                 0
INTIFA2(MW)                                                 0
INTNSL(MW)                                                  0
Rolling_Demand                                              0
Fossil Gas_remit_Available_Capacity_rate(MWh)               0
Biomass_remit_Available_Capacity_rate(MWh)                  0
Wind Offshore_remit_Available_Capacity_rate(MWh)            0
Fossil Oil_remit_Available_Capacity_rate(MWh)               0
Nuclear_remit_Available_Capacity_rate(MWh)                  0
Fossil Hard coal_remit_Available_Capacity_rate(MWh)         0
Hydro Pumped Storage_remit_Available_Capacity_rate(MWh)     0
Other_remit_Available_Capacity_rate(MWh)                    0
Wind Onshore_remit_Available_Capacity_rate(MWh)             0
Hydro Water Reservoir_remit_Available_Capacity_rate(MWh)    0
temperature_2m(°C)_England                                  0
relativehumidity_2m(%)_England                              0
dewpoint_2m(°C)_England                                     0
precipitation(mm)_England                                   0
windspeed_100m(km/h)_England                                0
temperature_2m(°C)_Wales                                    0
relativehumidity_2m(%)_Wales                                0
dewpoint_2m(°C)_Wales                                       0
precipitation(mm)_Wales                                     0
windspeed_100m(km/h)_Wales                                  0
dtype: int64

In [98]:
profile = ProfileReport(final_data_df,
                        title="All Data before Preprocessing",
                        dataset={"description": "This profiling report was generated for Electricity Price prediction project",
                                 "copyright_holder": "Sandhya",
                                 "copyright_year": "2023",},
                        correlations={"auto": {"calculate": False},
                                      "pearson": {"calculate": False},
                                      "spearman": {"calculate": False},
                                      "kendall": {"calculate": False},
                                      "phi_k": {"calculate": False},
                                      "cramers": {"calculate": False},},)

In [99]:
profile.to_file("../Output/Final_data_Analysis.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [100]:
plt.matshow(final_data_df.corr())
plt.savefig("../Output/Correlation.png")

In [101]:
f = plt.figure(figsize=(50, 40))
plt.matshow(final_data_df.corr(), fignum=f.number)
plt.xticks(range(final_data_df.shape[1]), final_data_df.columns, fontsize=14, rotation=45)
plt.yticks(range(final_data_df.shape[1]), final_data_df.columns, fontsize=14)
cb = plt.colorbar()
cb.ax.tick_params(labelsize=14)
plt.title('Correlation Matrix', fontsize=16);
plt.savefig("../Output/Correlation_v2.png")

In [102]:
summary_df = final_data_df.describe().T.sort_values('mean')
summary_df.to_csv("../Output/data_summary.csv")

In [103]:
dependent_cols = ['Net Imbalance Volume(MWh)', 'ND', 'TSD',
       'ENGLAND_WALES_DEMAND', 'EMBEDDED_WIND_GENERATION',
       'EMBEDDED_WIND_CAPACITY', 'EMBEDDED_SOLAR_GENERATION',
       'EMBEDDED_SOLAR_CAPACITY', 'NON_BM_STOR', 'PUMP_STORAGE_PUMPING',
       'IFA_FLOW', 'IFA2_FLOW', 'BRITNED_FLOW', 'MOYLE_FLOW', 'EAST_WEST_FLOW',
       'NEMO_FLOW', 'NSL_FLOW', 'ELECLINK_FLOW', 'INTFR(MW)',
       'INTIRL(MW)', 'INTNED(MW)', 'INTEW(MW)', 'INTNEM(MW)', 'INTELEC(MW)',
       'INTIFA2(MW)', 'INTNSL(MW)', 'Rolling_Demand',
       'Fossil Gas_remit_Available_Capacity_rate(MWh)',
       'Biomass_remit_Available_Capacity_rate(MWh)',
       'Wind Offshore_remit_Available_Capacity_rate(MWh)',
       'Fossil Oil_remit_Available_Capacity_rate(MWh)',
       'Nuclear_remit_Available_Capacity_rate(MWh)',
       'Fossil Hard coal_remit_Available_Capacity_rate(MWh)',
       'Hydro Pumped Storage_remit_Available_Capacity_rate(MWh)',
       'Other_remit_Available_Capacity_rate(MWh)',
       'Wind Onshore_remit_Available_Capacity_rate(MWh)',
       'Hydro Water Reservoir_remit_Available_Capacity_rate(MWh)',
       'temperature_2m(°C)_England', 'relativehumidity_2m(%)_England',
       'dewpoint_2m(°C)_England', 'precipitation(mm)_England',
       'windspeed_100m(km/h)_England', 'temperature_2m(°C)_Wales',
       'relativehumidity_2m(%)_Wales', 'dewpoint_2m(°C)_Wales',
       'precipitation(mm)_Wales', 'windspeed_100m(km/h)_Wales']

In [104]:
independent_col ='System Sell Price(GBP/MWh)'

In [105]:
i = 1
for col in dependent_cols:
    f = plt.figure(figsize=(10, 10))
    plt.scatter(x=final_data_df[independent_col], y=final_data_df[col])
    plt.xlabel(independent_col, fontsize=14)
    plt.ylabel(col, fontsize=14)
    plt.title('scatter plot '+ independent_col + " vs "+ col, fontsize=16);
    plt.savefig("../Output/scatter_"+ str(i) +".png")
    i +=1
    plt.close()

# Removing flat data columns

In [106]:
summary_df.loc[summary_df['mean']==0].index

Index(['INTNSL(MW)', 'INTELEC(MW)', 'INTIFA2(MW)',
       'Hydro Pumped Storage_remit_Available_Capacity_rate(MWh)',
       'Hydro Water Reservoir_remit_Available_Capacity_rate(MWh)'],
      dtype='object')

In [107]:
final_data_df.drop(columns=['INTNSL(MW)', 'INTELEC(MW)', 'INTIFA2(MW)',
       'Hydro Pumped Storage_remit_Available_Capacity_rate(MWh)',
       'Hydro Water Reservoir_remit_Available_Capacity_rate(MWh)'], inplace=True)

## Set minimum value as zero

In [108]:
summary_df.loc[summary_df['min']<0]

,count,mean,std,min,25%,50%,75%,max
MOYLE_FLOW,79968.0,-74.325268,277.170495,-5.050000e+02,-358.000,-29.0000,144.000,499.000000
ELECLINK_FLOW,79968.0,-30.241146,393.326106,-1.028000e+03,0.000,0.0000,0.000,1002.000000
INTIRL(MW),79968.0,-9.515706,74.248275,-4.560000e+02,0.000,0.0000,0.000,298.000000
Wind Offshore_remit_Available_Capacity_rate(MWh),79968.0,0.085360,4.157863,-7.172041e-14,0.000,0.0000,0.000,708.028634
Nuclear_remit_Available_Capacity_rate(MWh),79968.0,0.283388,8.094820,-5.684342e-14,0.000,0.0000,0.000,1160.000000
INTEW(MW),79968.0,1.443427,93.607666,-5.360000e+02,0.000,0.0000,0.000,542.000000
dewpoint_2m(°C)_Wales,79968.0,5.715927,4.728145,-1.150000e+01,2.550,5.7000,9.150,20.800000
Net Imbalance Volume(MWh),79968.0,5.877766,322.666960,-2.283458e+03,-181.503,9.6985,192.037,2000.966000
dewpoint_2m(°C)_England,79968.0,6.598708,4.810773,-1.080000e+01,3.400,6.5000,10.150,22.500000
Fossil Gas_remit_Available_Capacity_rate(MWh),79968.0,7.383153,70.145839,-1.477929e-12,0.000,0.0000,0.000,4505.656137
temperature_2m(°C)_Wales,79968.0,8.215936,5.203535,-1.070000e+01,4.850,7.7500,11.900,30.500000
temperature_2m(°C)_England,79968.0,10.031850,5.799355,-5.300000e+00,6.100,9.5000,14.000,36.600000
EAST_WEST_FLOW,79968.0,12.202644,298.792229,-5.850000e+02,-112.000,0.0000,187.000,504.000000
INTNEM(MW),79968.0,41.165791,180.458645,-1.016000e+03,0.000,0.0000,0.000,1000.000000
IFA2_FLOW,79968.0,56.363821,563.202440,-1.030000e+03,-2.000,0.0000,352.000,1016.000000
INTNED(MW),79968.0,61.173094,235.599423,-1.072000e+03,0.000,0.0000,0.000,1060.000000
System Buy Price(GBP/MWh),79968.0,98.229089,119.055803,-1.853300e+02,35.000,61.8500,130.000,4037.800000
System Sell Price(GBP/MWh),79968.0,98.229089,119.055803,-1.853300e+02,35.000,61.8500,130.000,4037.800000
INTFR(MW),79968.0,107.418642,424.097605,-2.042000e+03,0.000,0.0000,0.000,2002.000000
NSL_FLOW,79968.0,232.457270,527.486378,-1.455000e+03,0.000,0.0000,693.000,1401.000000
BRITNED_FLOW,79968.0,446.974990,582.552937,-1.076000e+03,0.000,669.0000,977.000,1088.000000
NEMO_FLOW,79968.0,486.123112,570.896113,-1.022000e+03,67.000,708.0000,951.000,1033.000000
IFA_FLOW,79968.0,736.133116,1101.864189,-2.056000e+03,-124.000,997.0000,1756.000,2065.000000

In [109]:
min_zero_cols = ['Wind Offshore_remit_Available_Capacity_rate(MWh)',
 'Nuclear_remit_Available_Capacity_rate(MWh)',
 'Fossil Gas_remit_Available_Capacity_rate(MWh)']
for col in min_zero_cols:
    final_data_df.loc[final_data_df[col]<0, col] = 0

In [110]:
final_data_df[min_zero_cols].describe().T

,count,mean,std,min,25%,50%,75%,max
Wind Offshore_remit_Available_Capacity_rate(MWh),79968.0,0.085360,4.157863,0.0,0.0,0.0,0.0,708.028634
Nuclear_remit_Available_Capacity_rate(MWh),79968.0,0.283388,8.094820,0.0,0.0,0.0,0.0,1160.000000
Fossil Gas_remit_Available_Capacity_rate(MWh),79968.0,7.383153,70.145839,0.0,0.0,0.0,0.0,4505.656137

In [111]:
final_data_df.to_csv(data_foler +'/pre_processed_final_data.csv')

In [112]:
i = 1
for col in final_data_df.columns:
    f = plt.figure(figsize=(20, 10))
    plt.plot_date(final_data_df.index, y=final_data_df[col])
    plt.xlabel("Date", fontsize=14)
    plt.ylabel(col, fontsize=14)
    plt.title('time-series_' + col, fontsize=16);
    plt.savefig("../Output/time_series_"+ str(i) +".png")
    i +=1
    plt.close()